{% extends "layout.html" %} {% block title %}Cambiar Contraseña{% endblock %} {%
block content %}
<div class="border rounded p-4">
  <h3 class="mb-4">Cambiar Contraseña</h3>
  <form method="POST" action="{{ url_for('main.cambiar_password') }}" novalidate>
    {{ form.hidden_tag() }}
    <div class="mb-3">
      {{ form.old_password.label(class="form-label") }} {{
      form.old_password(class="form-control", placeholder="Ingresa tu contraseña actual") }}
    </div>
    <div class="mb-3">
      {{ form.new_password.label(class="form-label") }} {{
      form.new_password(class="form-control", placeholder="Ingresa tu nueva contraseña") }}
    </div>
    <div class="mb-3">
      {{ form.confirm_password.label(class="form-label") }} {{
      form.confirm_password(class="form-control", placeholder="Confirma tu nueva contraseña") }}
    </div>
    <div class="mb-3 pt-3">{{ form.submit(class="btn btn-success") }}</div>
  </form>
</div>
{% endblock %}